.agrapage{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    background:#ffffff;
    margin-top: 10px;
}
#ag{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    width: 100%;
    font-size:40px;
}
h6{
    margin-top: 100px;
    padding-right: 15px;
}
p{
    margin: 80px;
    font-size: 20px;
    line-height:1.6;
}
#agraimg1{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50%;
    width: 50%;
    margin-left: 370px;
    border-radius:20px;
    box-shadow: 30 30 0px rgb(0, 0, 0);
    
}
.slider{
    width:800px;
    height:300px;
    overflow:hidden;
    position:relative;
    border-radius:10px;
    box-shadow:0 0 60px rgba(0, 0, 0, 0.3);
}

.slides{
    display:flex;
    width:50%;
    height:100%;
    transition:0.6s ease-in-out;
}

.slide img{
    width:100px;
    height:100%;
    /* object-fit:cover; */
}

/* Buttons */
.btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:rgba(0,0,0,0.6);
    color:white;
    border:none;
    font-size:30px;
    padding:10px 15px;
    cursor:pointer;
    border-radius:50%;
}

.prev{ left:10px; }
.next{ right:10px; }

.btn:hover{
    background:black;
}
